body {
    font-family: Arial, sans-serif;
}

.slogan {
    text-align: center;
    margin-bottom: 20px;
}

.item {
    margin-bottom: 10px;
    width: 200px;
    align: center
}

button {
    background-color: #32a4a8;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

a {
    color: black;
    text-decoration: none;
}
