<!DOCTYPE html>
<html>
<head>
</head>
<body>
<style>
    .item {
      width: 300px;
      margin: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
    }
    
    .item img {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
    .item h3 {
      margin: 0;
      font-size: 18px;
      color: #255;
    }
    
    .item p {
      margin: 10px 0;
      color: #255;
    }

    .slogan {
      flex-grow: 1;
    }
</style>
    
